html, body {
    background-color: #DAAD86;
    font-size: 16px;
    margin: 0;
}

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    top: 0;
    left: 0;
    z-index: 1; /* Sit on top */
    width: 100%;
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }

.header {
    background-color: #659DBD;
}

.task-form {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: auto;
    opacity: 0.9;
    position: absolute;
    top: 10%;
    left: 33%;
}

.task-form > * {
    border-radius: 0.5rem;
    padding: 0.3rem;
}


.delete-icon {
    height: 1.5rem;
    padding: 1.5rem;
}

.list-section {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-items: center;
    margin: 1.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: white;
 }

 .list-header {
     display: flex;
     align-items: center;
     background-color: white;
     justify-items: space-around;
 }

 .task-header {
     display: grid;
     grid-template-columns: 0.2fr 3fr 2fr 1fr 2fr;
     grid-template-areas: ". title date priority modify";
     border-radius: 0.5rem;
     justify-items: center;
     align-items: center;
     /* max-height: 3rem;; */
 }

 .task-heading {
    padding: 0.25rem;
    border-radius: 0.25rem;
}


.due-date {
    grid-area: date;
    padding: 0.5rem;
    margin-left: 0.5rem;
    height: 1.5rem;
    width: 5rem;
    border: lightblue 2px solid;
    box-shadow: 2px 2px lightskyblue;
    border-radius: 0.5rem;
    background-color: rgb(215, 230, 173);
}

.priority {
    grid-area: priority;
    justify-self: flex-start;
    padding: 0.5rem;
    margin-left: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border: lightblue 2px solid;
    box-shadow: 2px 2px lightskyblue;
    border-radius: 0.5rem;
    background-color: rgb(230, 217, 173);
}

 .svg-class {
    padding: 0.5rem;
    margin-left: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border: lightblue 2px solid;
    box-shadow: 2px 2px lightskyblue;
    border-radius: 0.5rem;
    background-color: lightblue;
 }

 .bullet-item {
    height: 2rem;
    width: 2rem;
    border: orange 2px solid;
    border-radius: 0.5rem;
    background-color: black;
 }

.text-style {
    font-size: 1.5rem;
}


.edit-task {
    grid-area: modify;
}

 .task-card {
     padding: 0.5rem;
     margin: 0.2rem;
 }


 *[type='button'] {
     padding: 0.5rem;
     margin: 0.5rem;
     font-weight: 700;
     border: lightskyblue 2px solid;
     box-shadow: 2px 2px lightblue;
     border-radius: 0.5rem;
     background-color: lightblue;
 }

input[type="text"] {
    margin: 0.5rem;
    font-size: 1.2rem;
    background-color: gainsboro;
}

textarea, select, input[type="date"] {
    background-color: gainsboro;
}

.task-title {
    font-size: 1.2rem;
    justify-self: flex-start;
    grid-area: title;
    background-color: salmon;
}

.list-card {
    background-color: #FBEEC1;
    font-weight: bold;
    flex: 1;
    box-shadow: none;
}